{
  "env": {
    "react-native/react-native": true
  },
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:typescript-sort-keys/recommended",
    "plugin:react/recommended",
    "plugin:react-native/all",
    "standard",
    "prettier"
  ],
  "plugins": [
    "@typescript-eslint",
    "react",
    "react-native",
    "simple-import-sort",
    "eslint-plugin-unused-imports",
    "sort-destructure-keys"
  ],
  "ignorePatterns": [
    "node_modules/",
    "build/",
    "*.json",
    "**/*config.js",
    "detox/**",
    "**/reactotron/**",
    "bin/**"
  ],
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
      "rules": {
        "simple-import-sort/imports": [
          "error",
          {
            "groups": [
              ["^react", "^@?\\w"],
              ["^(@|components)(/.*|$)"],
              ["^\\u0000"],
              ["^\\.\\.(?!/?$)", "^\\.\\./?$"],
              ["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"],
              ["^.+\\.?(css)$"]
            ]
          }
        ],
        "react/jsx-sort-props": [
          "error",
          {
            "callbacksLast": true,
            "shorthandFirst": true,
            "multiline": "last",
            "ignoreCase": false,
            "noSortAlphabetically": false,
            "reservedFirst": ["key"],
            "locale": "auto"
          }
        ],
        "no-magic-numbers": [
          "error",
          {
            "ignoreArrayIndexes": true,
            "ignore": [-1, 0, 1]
          }
        ],
        "sort-destructure-keys/sort-destructure-keys": [2, { "caseSensitive": false }]
      }
    }
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "globals": {
    "__DEV__": false,
    "jasmine": false,
    "beforeAll": false,
    "afterAll": false,
    "beforeEach": false,
    "afterEach": false,
    "test": false,
    "expect": false,
    "describe": false,
    "jest": false,
    "it": false
  },
  "rules": {
    "@typescript-eslint/ban-ts-ignore": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/indent": 0,
    "@typescript-eslint/member-delimiter-style": 0,
    "@typescript-eslint/no-empty-interface": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-object-literal-type-assertion": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ],
    "comma-dangle": 0,
    "multiline-ternary": 0,
    "no-undef": 0,
    "no-unused-vars": 0,
    "no-use-before-define": 0,
    "no-global-assign": 0,
    "quotes": 0,
    "react-native/no-raw-text": 0,
    "react/no-unescaped-entities": 0,
    "react/prop-types": 0,
    "space-before-function-paren": 0,
    "unused-imports/no-unused-imports": "warn",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "no-console": "warn"
  }
}
